# Config file for Starfox 64 NTSC 1.1 Recompilation.
[input]
entrypoint = 0x80000400
# Paths are relative to the location of this config file.
# elf_path = "starfox64.us.rev1.elf"
symbols_file_path = "Starfox64RecompSyms/sf64.us.rev1.syms.toml"
rom_file_path = "starfox64.us.rev1.uncompressed.z64"
output_func_path = "RecompiledFuncs"

[patches]
stubs = [
    "RdRam_CheckIPL3"
]

ignored = [
    
]

renamed = [
    "__lround",
    "__lroundf",
    "__ceil",
    "__ceilf",
    "__floor",
    "__floorf",
    "__trunc",
    "__truncf",
    "__round",
    "__roundf",
    "__nearbyint",
    "__nearbyintf"
]

# HitCount Cap to 999 instead of 511
[[patches.instruction]]
func = "Display_Update"
vram = 0x80057D50
value = 0x290103E8 # slti        $at, $t0, 0x200 -> slti $at, $t0, 0x3E8
[[patches.instruction]]
func = "Display_Update"
vram = 0x80057D5C
value = 0x240903E7 # slti        addiu t1,zero, 0x1ff -> addiu t1,zero,0x3e7
