# Config file for Starfox 64 NTSC 1.1 Recompilation.
[input]
entrypoint = 0x80000400
# Paths are relative to the location of this config file.
# elf_path = "starfox64.us.rev1.elf"
symbols_file_path = "Starfox64RecompSyms/sf64.us.rev1.syms.toml"
rom_file_path = "starfox64.us.rev1.uncompressed.z64"
output_func_path = "RecompiledFuncs"

[patches]
stubs = [
    "RdRam_CheckIPL3"
]

ignored = [
    
]

renamed = [
    "__lround",
    "__lroundf",
    "__ceil",
    "__ceilf",
    "__floor",
    "__floorf",
    "__trunc",
    "__truncf",
    "__round",
    "__roundf",
    "__nearbyint",
    "__nearbyintf"
]
