[Desktop Entry]
Name=Quest64Recompiled
Type=Application
Terminal=false
Icon=Quest64Recompiled
Exec=Quest64Recompiled
GenericName=Quest64Recompiled
Categories=Game;

